([
    //0 Void
    (default_state: Void),
    //1 Dummy atom
    (default_state: Object),
    //2 Sand
    ( inertial_resistance: 0.1, default_state: Powder),
    //3 Water
    ( flow: 5, damage: 0.0, default_state: Liquid),
    //4 Gravel
    ( inertial_resistance: 0.92, default_state: Powder),
    //5 Lava
    ( flow: 1, damage: 15.0, default_state: Liquid),
    //6 Grass
    (default_state: Solid),
    //7 Dirt
    (default_state: Solid),
    //8 Rock
    (default_state: Solid),
    //9 Acid
    ( flow: 5, damage: 3.0, default_state: Liquid),
])